<div class="shortcuts column">
  <div class="icon full-center" onclick='openPane("pane")'>
      PP
  </div>
  <div class="icon full-center">
      GG
  </div>
  <div class="icon full-center">
      KK
  </div>
</div>
