<div class="shortcuts column">
  {{#programs}}
  <div class="icon full-center" onclick='openPane("{{_id}}")'>
      <img src="{{icon}}" alt="{{name}}">
  </div>
  <div class="nameIcon text-primary">
    <p>{{name}}</p>
  </div>
  {{/programs}}
</div>
