<div class="initButton">
  <p class="full-center">AI</p>
</div>

<div id='taskbar-icons' class="shortcuts full-center row">
  <div id='PP' class="icon full-center hidden" onclick='openPane("pane")'>
      PP
  </div>
  <div id='GG' class="icon full-center hidden">
      GG
  </div>
  <div id='KK' class="icon full-center hidden">
      KK
  </div>
</div>
