<div class="initButton">
  <img src="../../public/images/windownsIcon.png" alt="">
</div>
{{#programs}}
<div id='taskbar-icons' class="shortcuts full-center row">
  <div id="{{_id}}-icon" class="icon full-center hidden" onclick='openPane("{{_id}}")'>
      <img class="icon" src="{{icon}}" alt="{{name}}">
  </div>
</div>
{{/programs}}
