<div class="container column">
  <section class='screen row'>
    {{>shortcuts }}

    {{>panes}}

  </section>
  <section class='taskbar row'>
    {{>taskbar}}
  </section>
</div>

<script type="text/javascript">
let hasGrown = false;
{{#programs}}
dragElement(document.getElementById(("{{_id}}")));
{{/programs}}

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "-header")) {
    document.getElementById(elmnt.id + "-header").onmousedown = dragMouseDown;
  } else {
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
function minimizePane(id) {
  document.getElementById(id).style.visibility = "hidden"
  document.getElementById(id+"-icon").style.visibility = "visible";
}
function closePane(id) {
  document.getElementById(id+"-icon").style.visibility = "hidden";
  document.getElementById(id).style.visibility = "hidden";
}
function openPane(id) {
  setLeftAndTop(id, 30, 30);
  document.getElementById(id).style.visibility = "visible";
}
function changePaneSize(id){
  if (hasGrown) {
    setLeftAndTop(id, 30, 30);
    document.getElementById(id).style.width = '30vw'
    document.getElementById(id).style.height = '30vh'
    hasGrown = false
  }else{
    setLeftAndTop(id, 0, 0);
    document.getElementById(id).style.width = '100vw';
    document.getElementById(id).style.height = '100vh';
    hasGrown= true
  }
}
function setLeftAndTop(id, left, top){
  document.getElementById(id).style.left = left+'vw'
  document.getElementById(id).style.top = top+'vh'
}
//////////////////////////////
</script>
<script language="JavaScript" type="text/javascript">
  $('#btn').click(function(e){
    e.preventDefault();
    var data = {};
    data.title = $('#newName').val()

  $.ajax('http://localhost:3000/updatemusic', {
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: function() { console.log('success');},
    error  : function() { console.log('error');}
  });
  });
</script>
