#menu ul {
    padding:0px;
    margin:0px;
    background-color:#212121;
    list-style:none;
}
#menu ul li { display: inline; }
#menu ul li a {
    padding: 20px 20px;
    display: inline-block;

    /* visual do link */
    background-color:#212121;
    color: #EEEEEE;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color:#424242;
    color: #EEEEEE;
}
#bg{
  margin:0;
  background-color: #EEEEEE;
}

#blockOrange{
  padding: 50px;
  width: 100%;
  height: 500px;
  background-color: #FF5722;
  box-shadow: 5px 9px 5px #888888;
}

#header{
  margin: 80px;
  color:#EEEEEE;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 5px #212121;
}
#blockWhite{
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none;
  padding: 20px;
  width: 100%;
  height: 500px;
  position: relative;
}
#blockWhite ul{
  display: flex;
  list-style:none;
}
#blockWhite ul li{
  display: inline-block;
  align-self: center;
  margin:auto;
}
#icon{
  font-size: 150px;
  margin-top: 0px;
  margin-bottom: auto;
  font-weight: bold;
  text-align: center;
  color: #FF5722;
  position: relative;
}
#icon:hover {
  font-size: 170px;

  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}
#description{
  font-size: 20px;
  position: relative;
  text-align: center;
  color: #212121;
  width: 200px;
}
#divisiveLine{
  color: #FF5722;
  font-size: 80px;
  text-align: center;
}
